<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Open Weather Map Api Key</key>
	<string>cd2ecd9149ce329bca23b691cb47a473</string>
	<key>Google Places Api Key</key>
	<string>AIzaSyDILzpTSfs83VwIgvQZzd7eyFLAk4eWxHc</string>
</dict>
</plist>
